openapi: 3.2.0
info:
  title: Atomadic Tech SLA API
  version: 0.5.1
  contact:
    email: atomadic69@gmail.com
    url: https://github.com/atomadictech/aaaa-nexus
  description: 'Operations tagged SLA across 2 of this provider''s published API definitions: atomadic-tech-openapi.json, atomadic-tech-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://atomadic.tech
  description: Production
security: []
tags:
- name: SLA
  description: 'SLA management: register, report violations, status checks'
paths:
  /v1/sla/register:
    post:
      operationId: registerSla
      summary: Register an SLA
      description: Register a service level agreement between agents. Costs $0.08/call.
      tags:
      - SLA
      security:
      - ApiKeyAuth: []
      - X402PaymentProof: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - provider_id
              - consumer_id
              - terms
              properties:
                provider_id:
                  type: string
                consumer_id:
                  type: string
                terms:
                  type: object
      responses:
        '200':
          description: SLA registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  sla_id:
                    type: string
                  status:
                    type: string
                  registered_at:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
    servers:
    - url: https://atomadic.tech
      description: Production
  /v1/sla/report:
    post:
      operationId: reportSlaViolation
      summary: Report SLA violation
      description: Report an SLA violation. Costs $0.02/call.
      tags:
      - SLA
      security:
      - ApiKeyAuth: []
      - X402PaymentProof: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - sla_id
              - violation_type
              properties:
                sla_id:
                  type: string
                violation_type:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Violation reported
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: string
                  sla_id:
                    type: string
                  status:
                    type: string
                  reported_at:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
    servers:
    - url: https://atomadic.tech
      description: Production
  /v1/sla/status:
    get:
      operationId: getSlaStatus
      summary: SLA status check
      description: Check the status of an SLA. Costs $0.008/call.
      tags:
      - SLA
      parameters:
      - name: sla_id
        in: query
        required: true
        schema:
          type: string
        description: SLA identifier
      security:
      - ApiKeyAuth: []
      - X402PaymentProof: []
      responses:
        '200':
          description: SLA status
          content:
            application/json:
              schema:
                type: object
                properties:
                  sla_id:
                    type: string
                  status:
                    type: string
                    enum:
                    - active
                    - violated
                    - expired
                  violations:
                    type: integer
                  uptime_percent:
                    type: number
                    format: float
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
    servers:
    - url: https://atomadic.tech
      description: Production
components:
  responses:
    BadRequest:
      description: Invalid request body or missing required fields.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Unauthorized
    PaymentRequired:
      description: 'Payment required. Use x402 protocol: send USDC on Base L2, Polygon, or Solana to the treasury address provided in the response, then retry with the X-Payment-Proof header.'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Payment required
              amount:
                type: string
                example: '0.002'
              currency:
                type: string
                example: USDC
              treasury:
                type: string
                description: Destination wallet address
              chains:
                type: array
                items:
                  type: string
                example:
                - base
                - polygon
                - solana
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key obtained from https://atomadic.tech/pay
    X402PaymentProof:
      type: apiKey
      in: header
      name: X-Payment-Proof
      description: Base64-encoded USDC payment proof for x402 autonomous payment flow (Base L2, Polygon, or Solana)
    AdminTokenAuth:
      type: apiKey
      in: header
      name: X-Admin-Token
      description: Admin token for privileged operations
x-refined-from:
- atomadic-tech-openapi.json
- atomadic-tech-openapi.yml
