openapi: 3.2.0
info:
  title: AAAA Nexus Drift API
  version: 0.5.1
  description: Formally verified AI safety APIs for autonomous agents. Supports REST, MCP, A2A (Google protocol), and x402 micropayment protocol.
  contact:
    email: atomadic69@gmail.com
    url: https://github.com/atomadictech/aaaa-nexus
servers:
- url: https://atomadic.tech
  description: Production
security: []
tags:
- name: Drift
  description: DriftGuard model drift detection and certification
paths:
  /v1/drift/check:
    post:
      operationId: driftCheck
      summary: DriftGuard check (DRG-100-DriftBound)
      description: Check for model drift between reference and current windows. Costs $0.01/check.
      tags:
      - Drift
      security:
      - ApiKeyAuth: []
      - X402PaymentProof: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - model_id
              - reference_window
              - current_window
              properties:
                model_id:
                  type: string
                reference_window:
                  type: object
                current_window:
                  type: object
      responses:
        '200':
          description: Drift check result
          content:
            application/json:
              schema:
                type: object
                properties:
                  model_id:
                    type: string
                  drift_detected:
                    type: boolean
                  drift_score:
                    type: number
                    format: float
                  bound:
                    type: number
                    format: float
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
  /v1/drift/certificate:
    get:
      operationId: getDriftCertificate
      summary: Drift certificate
      description: Retrieve a drift certificate by ID. Costs $0.01/cert.
      tags:
      - Drift
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        description: Drift certificate ID
      security:
      - ApiKeyAuth: []
      - X402PaymentProof: []
      responses:
        '200':
          description: Drift certificate
          content:
            application/json:
              schema:
                type: object
                properties:
                  certificate_id:
                    type: string
                  model_id:
                    type: string
                  drift_score:
                    type: number
                    format: float
                  issued_at:
                    type: string
                    format: date-time
                  valid_until:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
components:
  responses:
    PaymentRequired:
      description: 'Payment required. Use x402 protocol: send USDC on Base L2, Polygon, or Solana to the treasury address provided in the response, then retry with the X-Payment-Proof header.'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Payment required
              amount:
                type: string
                example: '0.002'
              currency:
                type: string
                example: USDC
              treasury:
                type: string
                description: Destination wallet address
              chains:
                type: array
                items:
                  type: string
                example:
                - base
                - polygon
                - solana
    BadRequest:
      description: Invalid request body or missing required fields.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Unauthorized
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key obtained from https://atomadic.tech/pay
    X402PaymentProof:
      type: apiKey
      in: header
      name: X-Payment-Proof
      description: Base64-encoded USDC payment proof for x402 autonomous payment flow (Base L2, Polygon, or Solana)
    AdminTokenAuth:
      type: apiKey
      in: header
      name: X-Admin-Token
      description: Admin token for privileged operations
