openapi: 3.2.0
info:
  title: AAAA Nexus Lo RA API
  version: 0.5.1
  description: Formally verified AI safety APIs for autonomous agents. Supports REST, MCP, A2A (Google protocol), and x402 micropayment protocol.
  contact:
    email: atomadic69@gmail.com
    url: https://github.com/atomadictech/aaaa-nexus
servers:
- url: https://atomadic.tech
  description: Production
security: []
tags:
- name: LoRA
  description: Federated LoRA training coordination and adapter registry
paths:
  /v1/lora/buffer/capture:
    post:
      operationId: postLoraBufferCapture
      summary: Capture scrubbed LoRA fix metadata
      description: Stores only scrubbed sample metadata, digests, source hashes, quality score, and G18 bucket for later contribution.
      tags:
      - LoRA
      security:
      - ApiKeyAuth: []
      - X402PaymentProof: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: LoRA buffer capture envelope
          content:
            application/json:
              schema:
                type: object
        '402':
          $ref: '#/components/responses/PaymentRequired'
  /v1/lora/buffer/inspect:
    post:
      operationId: postLoraBufferInspect
      summary: Inspect public-safe LoRA buffer metadata
      description: Returns pending sample digests, quality scores, eligible sample count, and public-safe buffer metrics.
      tags:
      - LoRA
      security:
      - ApiKeyAuth: []
      - X402PaymentProof: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: LoRA buffer inspect envelope
          content:
            application/json:
              schema:
                type: object
        '402':
          $ref: '#/components/responses/PaymentRequired'
components:
  responses:
    PaymentRequired:
      description: 'Payment required. Use x402 protocol: send USDC on Base L2, Polygon, or Solana to the treasury address provided in the response, then retry with the X-Payment-Proof header.'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Payment required
              amount:
                type: string
                example: '0.002'
              currency:
                type: string
                example: USDC
              treasury:
                type: string
                description: Destination wallet address
              chains:
                type: array
                items:
                  type: string
                example:
                - base
                - polygon
                - solana
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key obtained from https://atomadic.tech/pay
    X402PaymentProof:
      type: apiKey
      in: header
      name: X-Payment-Proof
      description: Base64-encoded USDC payment proof for x402 autonomous payment flow (Base L2, Polygon, or Solana)
    AdminTokenAuth:
      type: apiKey
      in: header
      name: X-Admin-Token
      description: Admin token for privileged operations
